body 
{
    background-image: url("dawg.gif");
    margin: 0 auto;
    max-width: 720px;
}

h1 {
    color: lightgreen;
    font-size: 5em;
    background-color:black;


}
p
{
    background-color: white;
    font-size: 35px;

}
.BigPenis
{
    background-color: cornflowerblue;

}
 .gay
{
    background-color: red;

    
}